:root{
  --bg: #2d2e35;
  --text: #2e2e30;
  --white: #fff;
  --white_bg: #fff;
  --orange: #e05635;
  --orange_bg: #6d392d;
  --blue: #4a61c1;
  --blue_bg: #303a62;

}

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.container {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;

  background-color: #4c4c53;
}

h1{
  color: var(--white);
  font-size: 60px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.workoutForm, .exerciseForm{
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.exerciseContainer{
  background-color: var(--orange_bg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 30px;
}

.workoutContainer{
  background-color: var(--blue_bg);
  width: 100%;
    height: 100%;
  display: flex;
  justify-content: center;
}

h2{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}



.workoutForm{
  background-color: var(--blue);
}

.exerciseForm{
  background-color: var(--orange);
}


/* INPUT FIELDS */
.workoutForm,
.exerciseForm {
  gap: 10px;
  width: 280px;
}

/* BUTTONS */
button{
  border: none;
  margin: 5px;
  padding: 8px;
  width: 100px;
}

button:hover{
  cursor: pointer;
}

.workoutItem{
  background-color: #ffffff;
  color: #2d2e35;

  width: 40%;
  min-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.workoutList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.noWorkouts{
  color: var(--text);
  font-weight: bold;
  padding: 20px;
}
